.counter__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter__item{
    width: 33%;
    text-align: center;
}

.counter__number, 
.counter__title{
    /* background:var(--counter-color); */
    background-size: 100% 100%;
    color: aliceblue;
    /* background-clip:text; */
    /* --webkit-text-fill-color:transparent; */
}
.counter__number{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.counter__title{
    font-size: 1.5rem;
}